<main class="main-block">
  <section class="header">
    <button class="back-apply-list icon-arrowhead-thin-outline-to-the-left" (click)="backToApplyList()"
      [style.display]="checkDisplayType('applyDetails')">
      <!-- <span aria-hidden=" true" class="icon-arrowhead-thin-outline-to-the-left"></span> -->
    </button>
    <div class="apply-header">
      Application
    </div>
    <div class="apply-statistic icon-paste">
      <div class="statistic-info">
        <div class="statistic-details">Reviewed: <span [style.color]="'green'">{{getStatistic('reviewed')}}</span></div>
        <div class="statistic-details">Unreviewed: <span [style.color]="'gray'">{{getStatistic('unreviewed')}}</span>
        </div>
        <div class="statistic-details">Accepted: <span [style.color]="'green'">{{getStatistic('accepted')}}</span></div>
        <div class="statistic-details">Declined: <span [style.color]="'red'">{{getStatistic('declined')}}</span></div>
        <div class="statistic-details">All: <span>{{applylists.length}}</span></div>
      </div>
    </div>
  </section>
  <section class="application-details">
    <ng-container *ngIf="applylists.length; else withoutApply">
      <div class="apply-list" [style.display]="checkDisplayType('applylist')"
        [style.width]="(windowSize < 1020 && !isOpen) || windowSize < 850 ? '100%' : ''">
        <div class="apply-search">
          <span aria-hidden="true" class="icon-search icon-icons8-search txt-c-blue"></span>
          <input type="text" name="searchText" id="" class="search" [(ngModel)]="searchText">
        </div>
        <h2>Without Subgroup</h2>
        <div class="short-apply-info"
          *ngFor="let applylist of activeApplyLists | searchApplication: searchText; let i=index"
          (click)="openApplyDetails(applylist, i)"
          [style.background-color]="applylist?.id == currentApply?.id ? 'white' : ''">
          <p class="child-info"><span>{{applylist?.childName}}</span><span>{{applylist?.childYear}} years old</span></p>
          <p class="child-info"><span>{{applylist?.typeOfReg?.formTitleType}}</span> <span *ngIf="!applylist?.isRead"
              class="not-read bc-blue"></span></p>
        </div>
        <h2>With Subgroup</h2>
        <div class="short-apply-info"
          *ngFor="let applylist of archiveApplyLists | searchApplication: searchText; let i=index"
          (click)="openApplyDetails(applylist, i)"
          [style.background-color]="applylist?.id == currentApply?.id ? 'white' : ''">
          <p class="child-info"><span>{{applylist?.childName}}</span><span>{{applylist?.childYear}} years old</span></p>
          <p class="child-info"><span>{{applylist?.typeOfReg?.formTitleType}}</span>
            <span>{{applylist?.subGroup}}</span></p>
        </div>
      </div>
      <div class="apply-details"
        [style.width]="(windowSize < 1020 && !isOpen) || windowSize < 850 ? '100%' : 'calc(100% - 345px)'"
        [style.display]="checkDisplayType('applyDetails')">
        <ng-container *ngIf="currentApply.hasOwnProperty('childName')">
          <div class="details-apply-info">
            <div class="details-info">Child name: <span class="text">{{currentApply?.childName}}</span></div>
            <div class="details-info">Child age: <span class="text">{{currentApply?.childYear}}</span></div>
            <div class="details-info">Parent firstname: <span class="text">{{currentApply?.firstName}}</span></div>
            <div class="details-info">Parent lastname: <span class="text">{{currentApply?.lastName}}</span></div>
            <div class="details-info">Parent email: <span class="text">{{currentApply?.email}}</span></div>
          </div>
          <div class="form-header">Forms of stay in {{applyKindergarten?.title}}</div>
          <div class="form-content">
            <div class="form-title-info">
              <div class="form-title-type">{{currentApply?.typeOfReg?.formTitleType}}</div>
              <div class="form-title-time">{{currentApply?.typeOfReg?.formTitleTime}}</div>
              <div class="form-title-price">{{currentApply?.typeOfReg?.formTitlePrice}}</div>
              <div class="form-title-additional">{{currentApply?.typeOfReg?.formTitleAdditional}}</div>
            </div>
          </div>

          <div class="apply-button">
            <button class="ask-for-details btn" (click)="changeStatusOfApplication('accept')">Accept</button>
            <button class="ask-for-details btn" (click)="goToUserMessage()">Write to a parent</button>
            <button class="recort-to-kinder btn" (click)="changeStatusOfApplication('decline')">Decline</button>
          </div>
        </ng-container>


      </div>
    </ng-container>
    <ng-template #withoutApply>
      <div class="withoutApply">Your kindergarten doesn`t have any applications</div>
    </ng-template>

  </section>
</main>
