@import "../../../../../assets/styles/styles";
@import "../../../../../assets/styles/font";

.main-block {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  //   overflow-y: auto;
  padding: 15px;
  transition: all 0.6s ease-in-out;
  position: relative;


  @media (max-width: 768px) {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    padding-top: 60px;
    justify-content: center;
  }
}


.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  border: none;
  background-color: white;
  box-shadow: 0px 2px 7px 1px gray;
  position: relative;

  .back-apply-list {
    width: 20px;
    height: 100%;
    position: absolute;

    left: 15px;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  .apply-header {
    width: 200px;
    height: calc(100% - 20px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins';
    // border-right: 1px solid black;
  }

  .apply-statistic {
    width: 50px;
    height: 50px;
    font-size: 26px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

    .statistic-info {
      position: absolute;
      width: 170px;
      height: 190px;
      top: 0;
      left: -190px;
      z-index: 3;
      border-radius: 10px;
      box-shadow: 0px 2px 7px 1px gray;
      display: none;
      background-color: white;
      padding: 10px;
      padding-left: 15px;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;

      .statistic-details {
        width: 100%;
        height: 30px;
        font-size: 17px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          width: 20px;
          height: 100%;
          margin-left: 10px;
        }
      }
    }

    &:hover {
      .statistic-info {
        display: flex;
      }
    }

  }

  .icon-paste {
    &::before {
      color: black;
    }
  }

}

.application-details {
  width: calc(100%);
  height: calc(100% - 85px);
  //   overflow-y: auto;
  //   padding: 15px;
  transition: all 0.6s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  background-color: white;
  box-shadow: 0px 2px 7px 1px gray;
  margin-top: 10px;

  .apply-list {
    width: 325px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;

    h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
      font-family: "Poppins";
      margin: 25px auto;
    }

    .apply-search {
      width: calc(100%);
      // padding: 20px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 7px 1px grey;

      .icon-search {
        width: 15px;
        height: 15px;
        margin-right: 20px;
        line-height: 14px;
        font-size: 14px;
      }

      .search {
        width: calc(84% - 50px);
        // height: 30px;
        border: none;
        border-bottom: 1px solid blue;
        // margin-right: 5%;
      }

      .apply-filter {
        width: 30px;
        height: 30px;
        position: relative;

        .filter-info {
          position: absolute;
          width: 250px;
          height: 150px;
          display: flex;
          // align-items: center;
          justify-content: space-around;
          flex-flow: column;
          left: -250px;
          z-index: 3;
          border-radius: 10px;
          box-shadow: 0px 2px 7px 1px gray;
          // display: none;
          background-color: white;
          padding: 10px;
          padding-left: 15px;

          .filter-details {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .filter-select {
              width: 60%;
              border: none;
              min-height: 40px;
              border-bottom: 2px solid blue;
              padding-left: 10px;
              transition: all 0.3s ease-in-out;
              background-color: transparent;
              cursor: pointer;
              position: relative;
              font-size: 16px;
              font-family: 'Poppins';
              font-weight: normal;

              .drop-icon {
                width: 9px;
                height: 6px;
                line-height: 12px;
                font-size: 10px;
                color: #6E7585;
                position: absolute;
                top: 15px;
                right: 11px;
              }


              .hidden {
                overflow-y: auto;
                z-index: 3;
                position: absolute;
                min-height: 58px;
                top: -3px;
                left: -5px;
                width: 105%;
                box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-flow: column;

                p {
                  width: 95%;
                  height: 45px;
                  line-height: 45px;
                }

                p:hover {
                  background-color: rgba(0, 0, 0, 0.04);
                }
              }

            }
          }
        }
      }
    }

    .short-apply-info {
      width: calc(100% - 24px);
      min-height: 60px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      //   border: 1px solid black;
      box-shadow: 0px 2px 7px 1px gray;
      background-color: #EEF0F8;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: column nowrap;
      cursor: pointer;
      transition: all 0.6s ease-in-out;
      margin-bottom: 5px;

      &:hover {
        background-color: white;
      }

      .child-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        align-self: center;
      }

    }
  }

  .apply-details {
    width: calc(100% - 345px);
    height: calc(100% - 20px);
    box-shadow: 0px 2px 7px 1px gray;
    padding: 10px;
    overflow-y: auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    .details-apply-info {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;

      .details-info {
        min-width: 200px;
        height: 60px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Poppins';
        margin-right: 20px;

        .text {
          color: seagreen;
          font-size: 20px;
          font-weight: bold;
          font-family: 'Courier New', Courier, monospace;
          font-style: italic;
          margin-left: 10px;
        }


      }
    }

    .form-header {
      //   margin-top: 40px;
      font-size: 30px;
      font-family: 'Poppins';
      font-weight: bolder;
      width: 100%;
      // min-height: 100px;
      line-height: 100px;
      text-align: center;
      //   margin-bottom: 40px;
      color: #ec2F4B;
    }

    .form-content {
      width: auto;
      height: auto;
      margin-bottom: 30px;
      margin-top: 30px;

      .form-title-info {
        width: calc(100% - 40px);
        min-height: 10px;
        background-color: #0db8eb;
        border: 2px solid #0db8eb;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 20px;

        .form-title-type {
          width: 100%;
          min-height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 22px;
          font-family: 'Poppins';
          font-weight: bolder;
        }

        .form-title-time {
          width: 100%;
          min-height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          font-family: 'Poppins';
          font-weight: bolder;
        }

        .form-title-price {
          width: 100%;
          min-height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 22px;
          font-family: 'Poppins';
          font-weight: bolder;
          margin-top: 20px;

        }

        .form-title-additional {
          width: 100%;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          font-family: 'Poppins';
          font-weight: bolder;
        }
      }

      .form-description-block {
        width: calc(100% - 50px);
        padding: 25px;
        min-height: 10px;
        border: 2px solid #0db8eb;
        background-color: #0db7eb10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column nowrap;

        .form-description-content {
          width: 100%;
          min-height: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;

          .form-pos-img {
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;

            @media (max-width: 568px) {
              width: 40px;
              height: 40px;
            }
          }

          .form-pos-num {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 16px;
            font-family: 'Poppins';
            font-weight: bold;
            display: flex;
            // align-items: center;
            justify-content: center;
            line-height: 33px;
            border: 1px solid palevioletred;
            color: palevioletred;
          }


          .form-name {
            width: 80%;
            font-size: 15px;
            font-family: 'Poppins';
            font-weight: 600;
            color: #00835e;
            margin-left: 20px;
            line-height: 1.5;
            text-transform: capitalize;
            text-align: justify;

            @media (max-width: 568px) {
              font-size: 14px;
            }
          }
        }

        .form-description-button {
          width: 100%;
          height: 100px;
          // margin-top: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          // flex-flow: row wrap;

          .ask-for-details {
            // width: 195px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: white;
            background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
            border-radius: 10px;
            margin-top: 20px;
            border: none;
            transition: all 0.6s ease-in-out;
          }

          .ask-for-details:hover {
            box-shadow: 3px 3px 1px 1px rgb(128 128 128 / 39%);
          }

          .recort-to-kinder {
            // width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: white;
            background: linear-gradient(to right, #c31432, #240b36);
            border-radius: 10px;
            margin-top: 20px;
            border: none;
            transition: all 0.6s ease-in-out;

          }

          .recort-to-kinder:hover {
            box-shadow: 3px 3px 1px 1px rgb(128 128 128 / 39%);
          }
        }
      }
    }

    .apply-button {
      width: 100%;
      min-height: 100px;
      // margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: row wrap;

      .ask-for-details {
        // width: 195px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        color: white;
        background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
        border-radius: 10px;
        margin-top: 20px;
        border: none;
        transition: all 0.6s ease-in-out;
      }

      .ask-for-details:hover {
        box-shadow: 3px 3px 1px 1px rgb(128 128 128 / 39%);
      }

      .recort-to-kinder {
        // width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        color: white;
        background: linear-gradient(to right, #c31432, #240b36);
        border-radius: 10px;
        margin-top: 20px;
        border: none;
        transition: all 0.6s ease-in-out;

      }

      .recort-to-kinder:hover {
        box-shadow: 3px 3px 1px 1px rgb(128 128 128 / 39%);
      }
    }

  }
}


.withoutApply {
  width: 100%;
  height: 500px;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  align-self: center;
}
