@import "../../../../assets/styles/styles";
@import "../../../../assets/styles/font";



.main-block {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  transition: all 0.6s ease-in-out;
  position: relative;
}

h1 {
  font-size: 35px;
  font-family: "Poppins";
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  color: blueviolet;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-view-title {
  // margin-top: 40px;
  font-size: 35px;
  font-family: "Poppins";
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  color: blueviolet;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;

  .kindergarten-type-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: #00835e;
    margin-left: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: white;

    .type-option {
      position: absolute;
      top: -20px;
      left: 55px;
      height: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: column;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 2px 7px 1px gray;
      color: #240b36;


      .radio-button {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid;

        &:last-child {
          border-bottom: unset;
        }

        input[type=radio] {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          left: 0px;
          cursor: pointer;
        }

        input[type=radio]:hover {
          background-color: rgb(219, 215, 215);
          box-shadow: 0px 2px 7px 1px gray;
        }

      }
    }
  }
}

.kindergarten {
  width: calc(100% - 20px);
  height: 550px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    width: calc(100% - 20px);
    padding-top: 60px;
    justify-content: center;
  }

  .kindergarten-list {
    width: 48%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;


    @media (max-width: 768px) {
      width: 90%;
      align-items: center;
      visibility: visible;
    }

    @media (max-width: 578px) {
      width: 90%;
      align-items: flex-end;
      visibility: visible;
    }

    .kindergarten-type {
      position: absolute;
      width: 140px;
      height: 30px;
      background: black;
      z-index: 3;
      transform: rotate(45deg);
      top: 25px;
      color: white;
      right: -31px;
      line-height: 30px;
    }

    .kindergarten-logo-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 9px 12px 2px #80808078;
      position: absolute;
      z-index: 2;
      left: 0%;
      top: 0%;
      transition: all 0.3s ease-in-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 578px) {
        width: 100%;
        visibility: visible;
      }
    }

    .kindergarten-logo {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 9px 12px 2px #80808078;
      position: absolute;
      z-index: 2;
      left: 0%;
      top: 0%;
      transition: all 0.3s ease-in-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 578px) {
        width: 100%;
        visibility: visible;
      }
    }

    .input {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;

      &__upload {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }

        .btn {
          width: 100%;
          height: 100%;
          border: 2px solid #fe8c00;
          color: white;
          background: #fe8c00;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #f83600, #fe8c00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          padding: 8px 20px;
          border-radius: 10px;
          font-size: 20px;
          font-weight: bold;
          transition: background .250s linear, color .250s linear, border .250s linear;
        }


        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
        }
      }
    }

    .kindergarten-title {
      width: 30%;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      line-height: 90px;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
      color: #f30ced;
      opacity: 0;
      margin-right: 20px;


      .go-to-button {
        border-radius: 10px;
        margin-top: 10px;
      }

      .logo-title {
        min-height: 65px;
        line-height: 65px;
      }

      div:nth-child(3) {
        font-weight: bold !important;
      }

      .input {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;

        &__upload {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;

          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }

          .btn {
            width: 100%;
            height: 100%;
            border: 2px solid #fe8c00;
            color: white;
            background: #fe8c00;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #f83600, #fe8c00);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding: 0px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            transition: background .250s linear, color .250s linear, border .250s linear;
          }


          .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
          }
        }
      }

      .logo {
        width: 100px;
        height: 100px;
      }

      .logo-text {
        border-radius: 10px;
        resize: none;
      }

      @media (max-width: 578px) {
        width: 100%;
        height: 50%;
        margin-right: 0px;
        visibility: visible;

        .logo {
          display: none;
        }
      }
    }


  }

  .kindergarten-list:hover {
    .kindergarten-logo {
      width: 60%;
      visibility: visible;

      @media (max-width: 578px) {
        height: 50%;
        width: 100%;
        visibility: visible;
      }
    }

    .kindergarten-title {
      opacity: 1;
    }

  }
}

.options {
  position: fixed;
  top: 200px;
  right: 6px;
  width: 50px;
  height: 50px;
  background-color: #418a97;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  cursor: pointer;

  .icon-menu {
    font-size: 19px;

    &::before {
      color: white;
    }
  }

  &:hover {
    .edit-menu {
      display: block;
    }
  }

  .edit-menu {
    position: absolute;
    top: -30px;
    left: -128px;
    height: 117px;
    width: 127px;
    border-radius: 10px;
    background-color: white;
    display: none;

    p {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid gray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
      font-weight: bolder;
      transition: all 0.6s ease-in-out;
      color: white;

      &:first-child {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: rgba(0, 128, 0, 0.658);

      }

      &:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: rgba(255, 0, 0, 0.514);
      }

      &:first-child:hover {
        background-color: rgb(0, 128, 0);
      }

      &:last-child:hover {
        background-color: rgb(255, 0, 0);
      }
    }
  }
}

.header-block {
  padding-top: 15px;
  width: 100%;
  position: relative;
  height: 500px;

  .input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    &__upload {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;

      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 25px;
      }

      .btn {
        width: 100%;
        height: 100%;
        border: 2px solid #fe8c00;
        color: white;
        background: #fe8c00;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f83600, #fe8c00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 20px;
        font-weight: bold;
        transition: background .250s linear, color .250s linear, border .250s linear;
      }

      .img {
        border-radius: 25px;
        box-shadow: 0px 2px 10px 11px gray;
        opacity: 0.6;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
      }




      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
  }

  .img {
    border-radius: 25px;
    box-shadow: 0px 2px 10px 11px gray;
    opacity: 0.6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .header-title {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 15px);
    top: calc(0% + 15px);
    left: calc(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;

    .text {
      font-size: 49px;
      width: 100%;
      min-height: 100px;
      text-align: center;
      line-height: 1.5;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 3;

      .title-text {
        border: none;
        outline: none;
        background: transparent;
        text-align: center;
        resize: none;

        &:focus {
          //    background-color: none;
          outline: none;
          border: none;
        }
      }
    }

    .record {
      min-width: 32%;
      height: 65px;
      border-radius: 50px;
      font-size: 20px;
      line-height: 40px;
      margin-top: 70px;
      background: attr(data);
      position: relative;
      text-align: center;
      z-index: 3;

      .choose-color:nth-child(1) {
        top: -33px;
        left: 1%;
      }

      .choose-color:nth-child(2) {
        left: 90%;
        top: -63px;
      }
    }

    @media (max-width: 568px) {
      .text {
        // top: calc(50%);
        // left: calc(50% - 87px);
        font-size: 29px;
      }

      .record {
        font-size: 18px;
        height: 55px;
        line-height: 30px;
      }
    }
  }
}

.description-block {
  margin-top: 80px;
  margin-bottom: 20px;
  // padding-left: 10px;
  // padding-right: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  position: relative;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1476px) {
    justify-content: space-between;
  }

  .input {
    width: 34%;
    height: 400px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1476px) {
      width: 48% !important;
    }

    @media (max-width: 768px) {
      width: 60% !important;
    }

    @media (max-width: 576px) {
      width: 90% !important;
    }

    &__upload {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;

      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 25px;
      }

      .btn {
        width: 100%;
        height: 100%;
        border: 2px solid #fe8c00;
        color: white;
        background: #fe8c00;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f83600, #fe8c00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 20px;
        font-weight: bold;
        transition: background .250s linear, color .250s linear, border .250s linear;
      }

      .img {
        border-radius: 25px;
        box-shadow: 0px 2px 10px 11px gray;
        opacity: 0.6;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      .description-logo {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px;
        box-shadow: 0px 0px 11px 10px #80808073;

      }

      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
  }

  .description-text {
    width: 48%;
    height: 100%;
    line-height: 1.5;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    resize: none;
    border-radius: 25px;
    padding-top: 15px;
  }
}

.group-block {
  margin-top: 80px;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;

  .group-content {
    width: 300px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin-bottom: 40px;
    position: relative;

    .close {
      position: absolute;
      z-index: 3;
      right: 10px;
      cursor: pointer;
    }

    .icon-close {
      &::before {
        color: gray;
      }
    }

    .group-img {
      border-radius: 25px;
      box-shadow: 0px 2px 10px 11px rgba(128, 128, 128, 0.39);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    .input {
      width: 80%;
      height: 62%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;

      &__upload {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 25px;
        }

        .btn {
          width: 100%;
          height: 100%;
          border: 2px solid #fe8c00;
          color: white;
          background: #fe8c00;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #f83600, #fe8c00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          padding: 8px 20px;
          border-radius: 25px;
          font-size: 20px;
          font-weight: bold;
          transition: background .250s linear, color .250s linear, border .250s linear;
        }

        .img {
          border-radius: 25px;
          box-shadow: 0px 2px 10px 11px gray;
          opacity: 0.6;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;
        }

        .description-logo {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 25px;
          box-shadow: 0px 0px 11px 10px #80808073;

        }

        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
        }
      }
    }

    .group-info {
      width: 100%;
      height: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: column nowrap;

      .group-name {
        font-size: 29px;
        font-weight: bolder;
        font-family: 'Poppins';
        color: palevioletred;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;

        .write-group-name {
          width: 80%;
          height: 35px;
          font-size: 29px;
          font-weight: bolder;
          font-family: 'Poppins';
          text-align: center;
          border: none;
          border-bottom: 1px solid blue;
          background-color: transparent;
        }
      }

      .group-age-range {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Poppins';
        color: palevioletred;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;

        .write-group-age-range {
          width: 80%;
          height: 20px;
          font-size: 16px;
          font-weight: bold;
          font-family: 'Poppins';
          text-align: center;
          border: none;
          border-bottom: 1px solid blue;
          background-color: transparent;
        }
      }

      .group-detail {
        width: 40%;
        height: 50px;
        border-radius: 50px;
        background-color: plum;
        border: navajowhite;
        color: white;
        font-weight: 500;
        transition: all 0.6s ease-in-out;
      }

      .group-detail:hover {
        background-color: #EEF0F8;
        border: 1px solid plum;
        color: plum;
        font-weight: 500;
      }
    }

  }

  .add-group {
    width: 300px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    margin-bottom: 40px;
    border: 1px solid palevioletred;
    border-radius: 25px;
    font-size: 29px;
    color: palevioletred;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: palevioletred;
      color: white;
    }
  }
}

.group-header {
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 40px;
  color: #ec2F4B;
}

.advantage-block {
  margin-top: 80px;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;

  .add-advantages {
    width: 400px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    margin-bottom: 40px;
    border: 1px solid palevioletred;
    border-radius: 25px;
    font-size: 29px;
    color: palevioletred;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: palevioletred;
      color: white;
    }
  }

  .advantage-content {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0px 2px 10px 11px rgba(128, 128, 128, 0.39);
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    position: relative;
  }

  .close {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .icon-close {
    &::before {
      color: gray;
    }
  }

  .advantage-title {
    width: calc(100% - 20px);
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin-top: 10px;
    margin-bottom: 20px;

    .input {
      width: 100px;
      height: 100px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;

      &__upload {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 25px;
        }

        .btn {
          width: 100%;
          height: 100%;
          border: 2px solid #fe8c00;
          color: white;
          background: #fe8c00;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #f83600, #fe8c00);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          padding: 8px 20px;
          border-radius: 25px;
          font-size: 16px;
          font-weight: bold;
          transition: background .250s linear, color .250s linear, border .250s linear;
        }

        .numImg {
          width: 100px;
          height: 100px;
          border-radius: 25px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
        }

        .number {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          font-size: 20px;
          font-family: 'Poppins';
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid palevioletred;
          color: palevioletred;
        }

        .upload-btn-wrapper input[type=file] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
        }
      }
    }

    .title {
      width: 60%;
      height: 100%;
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Poppins';
      color: palevioletred;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .advantages-write-title {
        width: 90%;
        height: 100%;
        font-size: 20px;
        font-weight: bolder;
        font-family: "Poppins";
        text-align: center;
        border: none;
        border-bottom: 1px solid blue;
        background-color: transparent;
        resize: none;
      }

      @media (max-width: 568px) {
        font-size: 18px;
      }
    }
  }

  .advantage-text {
    width: calc(90% - 20px);
    height: 250px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    color: black;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    text-align: justify;
    border: none;
    resize: none;
    padding-right: 15px;

    @media (max-width: 568px) {
      font-size: 16px;
    }
  }

  .advantages-text-color {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.advantage-header {
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  color: #ec2F4B;
}

.address-block {
  width: 100%;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;

  .address-container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 2px 10px 11px rgba(128, 128, 128, 0.39);
    position: relative;

    .add-addresses {
      width: 350px;
      height: 50px;
      width: 350px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      margin-bottom: 30px;
      margin-top: 30px;
      z-index: 4;
      border: 1px solid palevioletred;
      border-radius: 25px;
      font-size: 22px;
      color: palevioletred;
      cursor: pointer;
      font-weight: bolder;
      transition: all 0.6s ease-in-out;

      &:hover {
        background-color: palevioletred;
        color: white;
      }
    }

    .address-content {
      width: 350px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      margin-bottom: 30px;
      margin-top: 30px;
      z-index: 4;
      position: relative;

      .close {
        position: absolute;
        z-index: 3;
        right: 25px;
        top: 0px;
        cursor: pointer;
      }

      .icon-close {
        &::before {
          color: gray;
        }
      }

      .address-pos {
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;

        @media (max-width: 568px) {
          width: 40px;
          height: 40px;
        }
      }

      .address-name {
        font-size: 28px;
        font-family: 'Poppins';
        font-weight: bolder;
        color: purple;
        margin-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
        background: transparent;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid blue;

        @media (max-width: 568px) {
          font-size: 20px;
        }
      }
    }
  }

  .input {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    &__upload {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;

      .upload-btn-wrapper {
        position: relative;
        // overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 25px;
      }

      .btn {
        width: 100%;
        height: 100%;
        border: 2px solid #fe8c00;
        color: white;
        background: #fe8c00;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f83600, #fe8c00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 8px 20px;
        border-radius: 25px;
        font-size: 20px;
        font-weight: bold;
        transition: background .250s linear, color .250s linear, border .250s linear;
      }


      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
  }


}


.address-header {
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 40px;
  color: #ec2F4B;
}

.form-block {
  width: 100%;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;

  .form-container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    color: white;

    .form-content {
      width: 550px;
      min-height: 50px;
      margin: 20px 30px;
      position: relative;

      .closed {
        position: absolute;
        z-index: 3;
        right: -20px;
        top: 5px;
        cursor: pointer;
      }

      .icon-close {
        &::before {
          color: gray;
        }
      }

      .form-title-info {
        width: calc(100% - 40px);
        min-height: 10px;
        background-color: #0db8eb;
        // border: 2px solid #0db8eb;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 20px;
        position: relative;

        .form-title-type {
          width: 100%;
          min-height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 22px;
          font-family: 'Poppins';
          font-weight: bolder;
          border: none;
          border-bottom: 1px solid blue;
          background-color: transparent;

        }

        .form-title-time {
          width: 100%;
          min-height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          font-family: 'Poppins';
          font-weight: bolder;
          border: none;
          border-bottom: 1px solid blue;
          background-color: transparent;
        }

        .form-title-price {
          width: 100%;
          min-height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 22px;
          font-family: 'Poppins';
          font-weight: bolder;
          margin-top: 20px;
          border: none;
          border-bottom: 1px solid blue;
          background-color: transparent;

        }

        .form-title-additional {
          width: 100%;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-size: 18px;
          font-family: 'Poppins';
          font-weight: bolder;
          border: none;
          border-bottom: 1px solid blue;
          background-color: transparent;
        }

        .choose-color {
          left: 0%;
          align-self: self-end;
          margin-top: 15px;
        }

        .first-choose-color {
          position: absolute;
          top: 5px;
          left: 5%;
        }
      }

      .form-description-block {
        width: calc(100% - 50px);
        padding: 25px;
        min-height: 10px;
        // border: 2px solid #0db8eb;
        background-color: #0db7eb10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column nowrap;
        position: relative;


        .input {
          width: 50px;
          height: 50px;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          align-items: center;
          // margin-bottom: 80px;

          &__upload {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;

            .upload-btn-wrapper {
              position: relative;
              // overflow: hidden;
              // display: inline-block;
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              border-radius: 25px;
            }


            .upload-btn-wrapper input[type=file] {
              font-size: 100px;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              width: 100%;
              height: 100%;
              z-index: 3;
            }
          }
        }

        .add-kinderform-description {
          width: 80%;
          height: 40px;
          border: 1px solid;
          color: green;
          border-radius: 25px;
          transition: all 0.6s ease-in-out;

          &:hover {
            background-color: green;
            color: white;
          }
        }

        .choose-color {
          left: 0%;
          align-self: self-end;
          margin-top: 15px;
        }

        .choose-color:last-child {
          position: absolute;
          top: -5px;
          left: 2%;
        }

        .form-description-content {
          width: 100%;
          min-height: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          position: relative;

          .closed {
            position: absolute;
            z-index: 3;
            right: 0px;
            top: 0px;
            cursor: pointer;
          }

          .icon-close {
            &::before {
              color: gray;
            }
          }

          .form-pos-img {
            width: 50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 50%;

            @media (max-width: 568px) {
              width: 40px;
              height: 40px;
            }
          }

          .form-pos-num {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 16px;
            font-family: 'Poppins';
            font-weight: bold;
            display: flex;
            // align-items: center;
            justify-content: center;
            line-height: 33px;
            border: 1px solid palevioletred;
            color: palevioletred;
          }


          .form-name {
            width: 80%;
            font-size: 15px;
            font-family: 'Poppins';
            font-weight: 600;
            color: #00835e;
            margin-left: 20px;
            line-height: 1.5;
            text-transform: capitalize;
            text-align: justify;
            border: navajowhite;
            background: transparent;
            border-bottom: 1px solid;

            @media (max-width: 568px) {
              font-size: 14px;
            }
          }
        }

        .form-description-button {
          width: 100%;
          min-height: 100px;
          // margin-top: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-flow: row wrap;

          .ask-for-details {
            // width: 195px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: white;
            background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
            border-radius: 10px;
            margin-top: 20px;
            border: none;
            transition: all 0.6s ease-in-out;
          }

          .ask-for-details:hover {
            box-shadow: 3px 3px 1px 1px rgb(128 128 128 / 39%);
          }

          .recort-to-kinder {
            // width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            color: white;
            background: linear-gradient(to right, #c31432, #240b36);
            border-radius: 10px;
            margin-top: 20px;
            border: none;
            transition: all 0.6s ease-in-out;

          }

          .recort-to-kinder:hover {
            box-shadow: 3px 3px 1px 1px rgb(128 128 128 / 39%);
          }
        }
      }
    }
  }

  .add-kinderform {
    width: 400px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 1px solid palevioletred;
    border-radius: 25px;
    font-size: 29px;
    color: palevioletred;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: palevioletred;
      color: white;
    }
  }
}


.form-header {
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 40px;
  color: #ec2F4B;
}





.child-registr-block {
  width: 100%;
  min-height: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin-bottom: 50px;

  .child-registr-form {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    color: white;

    .form-elem {
      width: 550px;
      min-height: 50px;
      margin-bottom: 30px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: column nowrap;

      label {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-family: "Poppins";
        font-weight: bold;
        color: black;
      }

      input {
        width: 60%;
        border: none;
        height: 40px;
        border-bottom: 2px solid blue;
        padding-left: 10px;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: normal;
      }

      input:focus {
        box-shadow: 0px 0px 2px;
        outline: none;
      }

      span {
        width: 60%;
        border: none;
        height: 20px;
        font-size: 12px;
        font-family: 'Poppins';
        font-weight: normal;
        color: brown;
        line-height: 20px;
        margin-top: 3px;
      }


      .form-elem-select {
        width: 60%;
        border: none;
        min-height: 40px;
        border-bottom: 2px solid blue;
        padding-left: 10px;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: normal;


        .error {
          width: 60%;
          border: none;
          height: 20px;
          font-size: 12px;
          font-family: 'Poppins';
          font-weight: normal;
          color: brown;
          line-height: 20px;
          margin-top: 3px;
          position: absolute;
          bottom: -25px;
          left: 7px;
        }

        .drop-icon {
          width: 9px;
          height: 6px;
          line-height: 12px;
          font-size: 10px;
          color: #6E7585;
          position: absolute;
          top: 15px;
          right: 11px;
        }


        .hidden {
          overflow-y: auto;
          z-index: 3;
          position: absolute;
          min-height: 58px;
          top: -3px;
          left: -5px;
          width: 105%;
          box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-flow: column;

          p {
            width: 95%;
            height: 45px;
            line-height: 45px;
          }

          p:hover {
            background-color: rgba(0, 0, 0, 0.04);
          }
        }

      }
    }
  }

  .send-child-registr-form {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    color: white;
    background-color: brown;
    border-radius: 10px;
    border: 1px solid brown;
    transition: all 0.6s ease-in-out;
  }

  .send-child-registr-form:hover {
    background-color: white;
    color: brown;
  }

}

.child-registr-header {
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bolder;
  width: 100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 40px;
  color: #ec2F4B;
}



.choose-color {
  width: 30px;
  height: 30px;
  background-image: url('../../../../assets/image/colorwheel1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 5%;

  .color-rainbow {
    display: none;
    position: absolute;
    top: -165px;
    left: -242%;
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 11px 10px #80808073;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    .write-color {
      width: 100%;
      height: 30px;
      display: flex;
      border-bottom: 1px solid black;
      align-items: center;
      justify-content: center;

      input {
        width: 80%;
        height: 20px;
        border: none;
        outline: none;
        font-size: 12px;
        text-align: center;
        border: none;
      }
    }

    .color-range {
      width: 90%;
      height: 100px;
      overflow-y: auto;
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-flow: row wrap;

      div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.color-rainbow {
  display: none;
  position: absolute;
  top: -165px;
  left: 24%;
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 11px 10px #80808073;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 3;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
  }

  .icon-close {
    font-size: 10px;
    color: #6E7585;
    cursor: pointer;
  }

  .write-color {
    width: 100%;
    height: 30px;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;

    input {
      width: 80%;
      height: 20px;
      border: none;
      outline: none;
      font-size: 12px;
      text-align: center;
    }
  }

  .color-range {
    width: 90%;
    height: 100px;
    overflow-y: auto;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid black;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}

.choose-color:hover {
  .color-rainbow {
    display: flex;

  }
}

.add-section-block {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.add-section {
  width: 50%;
  height: 60px;
  border: 1px solid blue;
  border-radius: 25px;
  align-self: center;
  margin: 10px auto;
  color: blue;
  transition: all 0.6s ease-in-out;

  &:hover {
    background-color: blue;
    color: white;
  }
}


.fixed-section {
  position: fixed;
  bottom: calc(10%);
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: none;
  z-index: 8;
  transition: all 0.6s ease-in-out;

  .button_messager {
    position: relative;
    top: -50px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    background-color: #240b36;
    transition: all 0.6s ease-in-out;
  }

  .phone_number {
    position: relative;
    top: -40px;
    left: 0px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-image: url('../../../../assets/image/telephone-call.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    transition: all 0.6s ease-in-out;
  }
}
