@import "../../assets/styles/mixins";
@import "../../assets/styles/styles";

.container {
  overflow: hidden;
  height: 100%;
  position: relative;
  // position: fixed;
  transition: all 0.3s ease-in-out;

  &__menu {
    width: 16%;
    height: 100%;
  }

  &__items {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
