<section>
  <div class="score-block">
    <div class="hight-score" *ngIf="highScore">HI: {{highScore}}</div>

    <div class="score">Score: {{score}}</div>
  </div>
  <div class="game-block">
    <!-- <div class="dino" [class.jump]="dinoJump" [class.down]="dinoDown"></div> -->
    <div class="dino"></div>
    <!-- <div class="moreCactus"></div> -->
    <!-- <div class="pterodact" ></div> -->

    <!-- <div *ngFor="let item of cactusAppear; let i=index" class="cactus" [class]="'cactus'+i"></div> -->
  </div>
  <div class="road" [class.road-animation]="startGame">
  </div>
</section>
