<section class="container">
  <h3>Controls instruction</h3>
  <div class="controls-box">
    <div class="general">
      <p class="control-title">General</p>
      <div class="control-info">
        <div class="control-text">
          Коли ви загружуєте гру, перше, що ви можете побачити - це головне меню
        </div>
        <div class="control-ilustration">
          <img src="../../../assets/img/mainPage.png" alt="">
        </div>
      </div>
      <div class="control-info reversed">
        <div class="control-text">
          Головне меню включає в себе такий вибір : <br>
          <br> <span> New game - опція для початку нової гри </span> <br>
          <br> <span> Continue - опція поки що не доступна(буде доступна в наступних релізах) </span> <br>
          <br> <span> Score table - опція поки що не доступна(буде доступна в наступних релізах) </span> <br>
          <br> <span> Controls - опція для відкриття інформації по грі </span> <br>
        </div>
        <div class="control-ilustration">
          <img src="../../../assets/img/mainMenu.png" alt="">
        </div>
      </div>
      <div class="control-info ">
        <div class="control-text">
          Якщо натиснути на опцію "New game", тоді нам відкриється меню ігрових режимів. В меню ігрових режимів входить
          такі опції: <br>
          <br> <span> Men vs Men - опція у котрій гра буде відбуватися між двома гравцями. Один гравець буде керувати
            динозавром, а задача іншого - викликати йому перешкоди </span> <br>
          <br> <span> Men vs AI - опція поки що не доступна(буде доступна в наступних релізах) </span> <br>
          <br> <span> AI vs AI - опція поки що не доступна(буде доступна в наступних релізах) </span> <br>
          <br> <span> Back - опція для повернення на головне меню </span> <br>
        </div>
        <div class="control-ilustration">
          <img src="../../../assets/img/modeMenu.png" alt="">
        </div>
      </div>
      <div class="menvsmen">
        <p class="control-title">Men vs Men</p>
        <div class="control-info reversed">
          <div class="control-text">
            Після вибору режиму гри "Men vs Men", відкривається сам ігровий інтерфейс. <br>
            <br> <span> У верхньому правому куті можна побачити цифри і надпис "Score" - це є очки, які зароблені за
              пройдений шлях гри. Якщо дракончик не проходить якусь перешкоду, то гразакінчується і кінцеві очки
              записуються в "HI", яке відображається лівіше від "Score". </span> <br>
            <br> <span> У лівому нижньому куті знаходиться наш дракончик, котрим буде керувати один з гравців. Керування
              дракончиком показано нижче. </span>
            <br>
          </div>
          <div class="control-ilustration">
            <img src="../../../assets/img/menVsmen.png" alt="">
          </div>
        </div>
        <div class="control-info">
          <div class="control-text">
            Керувати дракончиком можна за допомогою двох кнопок: <br>
            <br> <span> За допомогою кнопки "S" наш дракончик пригинається від літаючих кажанів. Якщо дракончик вчасно
              пригнувся і не зачіпив кажанів, то гра продовжується </span> <br>
            <br> <span> За допомогою кнопки "Space" наш дракончик перестрибує через кактуси, які будуть появлятися на
              його шляху(ці перешкоди буде створювати другий гравець). Якщо дракончик вчасно підстибнув і не зачіпив
              кактусів, то гра продовжується </span>
            <br>
          </div>
          <div class="control-ilustration">
            <p>Button in keyboard</p>
            <div class="button-img">
              <img src="../../../assets/img/s_button.jpg" alt="">
              <img src="../../../assets/img/space_button.jpg" alt="">
            </div>
            <p>Dino move in game</p>
            <div class="dino-move">
              <img src="../../../assets/img/down.png" alt="">
              <img src="../../../assets/img/jump.png" alt="">
            </div>
          </div>
        </div>
        <div class="control-info reversed">
          <div class="control-text">
            Викликати перешкоди можна за допомогою трьох кнопок (проте, щоб можна було чесно грати, то на виклик
            перешкод було зроблено <i>затримку в 0.5 секунди. Потрібно не зажимати, а періодично тиснути.
            </i>): <br>
            <br> <span> За допомогою кнопки "arrow-down" у грі появиться нова перешкода у вигляді кактуса. Якщо
              дракончик вчасно
              перестрибне і не зачіпить кактус, то гра продовжується. Кактус буде приближуватися до нашого дракончека
              все ближче і ближче </span> <br>
            <br> <span> За допомогою кнопки "arrow-right" у грі появиться нова перешкода у вигляді кажана. Якщо
              дракончик вчасно
              пригнеться і не зачіпить кажана, то гра продовжується. Кажан буде приближуватися до нашого дракончека все
              ближче і ближче </span>
            <br>
            <br> <span> За допомогою кнопки "arrow-right" у грі появиться нова перешкода у вигляді об'єднаних трьох
              кактусів. Якщо дракончик вчасно
              підстибне і не зачіпить кактусів, то гра продовжується. Кактуси будуть приближуватися до нашого
              дракончека все ближче і ближче </span>
            <br>
          </div>
          <div class="control-ilustration">
            <p>Button in keyboard</p>
            <div class="button-img">
              <img src="../../../assets/img/arrow-down.png" alt="">
              <img src="../../../assets/img/arrow-right.png" alt="">
              <img src="../../../assets/img/arrow-up.png" alt="">
            </div>
            <p>Bariers move in game</p>
            <div class="dino-move">
              <img src="../../../assets/img/barriers_down.png" alt="">
              <img src="../../../assets/img/barriers_right.png" alt="">
              <img src="../../../assets/img/barriers_up.png" alt="">
            </div>
          </div>
        </div>
        <div class="control-info">
          <div class="control-text">
            Якщо дракончик врізається в якусь перешкоду, то гра закінчується і на екрані появляється ігрове меню яке в
            себе включає дві опції : <br>
            <br> <span> Start again - опція для початку гри знову </span> <br>
            <br> <span> Exit - опція для переходу на головне меню </span> <br>
          </div>
          <div class="control-ilustration">
            <img src="../../../assets/img/gameMenu.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
