.kindergarten {
  width: calc(100% - 20px);
  height: calc(100% - 40px);
  overflow-y: auto;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    padding-top: 60px;
    justify-content: center;
  }

  .kindergarten-list {
    width: 48%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 10px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;


    @media (max-width: 768px) {
      width: 90%;
      align-items: center;
      visibility: visible;
    }

    @media (max-width: 578px) {
      width: 90%;
      align-items: flex-end;
      visibility: visible;
    }

    .kindergarten-logo {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: 0px 9px 12px 2px #80808078;
      position: absolute;
      z-index: 2;
      left: 0%;
      top: 0%;
      transition: all 0.3s ease-in-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 578px) {
        width: 100%;
        visibility: visible;
      }
    }

    .kindergarten-title {
      width: 30%;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      line-height: 90px;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
      color: #f30ced;
      opacity: 0;
      margin-right: 20px;
      

      .go-to-button {
        border-radius: 10px;
        margin-top: 10px;
      }

      .logo-title {
        min-height: 65px;
        line-height: 65px;
      }

      div:nth-child(3) {
        font-weight: bold !important;
      }

      .logo {
        width: 100px;
        height: 100px;
      }

      @media (max-width: 578px) {
        width: 100%;
        height: 50%;
        margin-right: 0px;
        visibility: visible;

        .logo {
          display: none;
        }
      }
    }


  }

  .kindergarten-list:hover {
    .kindergarten-logo {
      width: 60%;
      visibility: visible;

      @media (max-width: 578px) {
        height: 50%;
        width: 100%;
        visibility: visible;
      }
    }

    .kindergarten-title {
      opacity: 1;
    }

  }
}

// @media screen and (max-width: 990px) {
//   .kindergarten {
//     &__component {
//       margin-top: 50px;
//       width: 45%;

//       &--img {
//         .title {
//           font-size: 22px;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 679px) {
//   .kindergarten {
//     flex-flow: column;
//     align-items: center;

//     &__component {
//       margin-top: 50px;
//       width: 80%;

//       &--img {
//         .title {
//           font-size: 18px;
//         }
//       }
//     }




//   }
// }
