<main class="w-100 flex aic jcc nowrap">
  <section class="login-block bc-white flex aic jcc wrap">
    <div class="login-block__header bc-light-blue flex aic jcc nowrap ">
      <img class="login-block__header--logo" src="assets/image/Skillcheckers-logo.png" alt="">
    </div>
    <p class="login-block__title flex aic jcc font-25 m-t-10 w-100">Reset Password</p>
    <p class="login-block__text flex aic jcc font-13 txt-c-initial w-100">Write you new password</p>
    <form [formGroup]="resetPass" class="login-block__form flex col">
      <div class="w-100 font-14 m-b-5 flex aic col jcsb m-b-15">
        <div class="flex col aifs jcsa w-100">
          <label for="password" class="font-14 w-100 m-l-2 m-t-15 m-b-5">New Password</label>
          <div class="flex nowrap jcsb aic p-t-12 p-b-12 p-l-10 bdc-gray w-100">
            <input [type]="isVisible ? 'text' : 'password'" [formControlName]="'pass'" min="8" max="16" name=""
              class="bdc-white font-14 w-100" id="password" placeholder="New password">
            <button class="font-20 m-r-15 bc-white bdc-white"
              [class]="isVisible ? 'icon-visibility' : 'icon-visibility-off ' " (click)="ChangeType()"></button>
          </div>
          <span *ngIf="this.resetPass.controls.pass.getError('required')" class="font-10 m-l-2 m-t-4 txt-c-red">Field
            is
            required</span>
          <span *ngIf="this.resetPass.controls.pass.getError('pattern')" class="font-10 m-l-2 m-t-4 txt-c-red">Field
            should
            be
            from 8 to 16 values</span>
        </div>
        <div class="flex col aifs jcsa w-100">
          <label for="password" class="font-14 w-100 m-l-2 m-t-15 m-b-5">Confirm Password</label>
          <div class="flex nowrap jcsb aic p-t-12 p-b-12 p-l-10 bdc-gray w-100">
            <input [type]="isConfirmVisible ? 'text' : 'password'" [formControlName]="'confirmpass'" min="8" max="16"
              name="" class="bdc-white font-14 w-100" id="confirmpassword" placeholder="Confirm password">
            <button class="font-20 m-r-15 bc-white bdc-white"
              [class]="isConfirmVisible ? 'icon-visibility' : 'icon-visibility-off ' "
              (click)="ChangeTypeConfirm()"></button>
          </div>
          <span *ngIf="this.resetPass.controls.confirmpass.getError('required')"
            class="font-10 m-l-2 m-t-4 txt-c-red">Field
            is
            required</span>
          <span *ngIf="this.resetPass.controls.confirmpass.getError('pattern')"
            class="font-10 m-l-2 m-t-4 txt-c-red">Field
            should
            be
            from 8 to 16 values</span>
          <span
            *ngIf="this.resetPass.controls.confirmpass.getError('notmatch') && !this.resetPass.controls.confirmpass.getError('required')"
            class="font-10 m-l-2 m-t-4 txt-c-red">Field
            should
            be
            the same as password</span>
        </div>
      </div>
    </form>
    <div class="flex aic jcsa w-100 m-t-15 m-b-15">
      <button [disabled]="isDisabled" [class]="isDisabled ? 'bc-light-gray txt-c-black' : 'bc-blue txt-c-white'"
        class="btn font-14 m-r-15 bdc-light-blue bdr-5" (click)="sendNewPass()">Send reset password</button>
    </div>
  </section>
</main>
