<main class="main-block" *ngIf="!isLoading" #content>
  <section class="header-block">
    <div class="img"
      [style.background-image]="'url(' + (currkinder?.backgroundImg || 'https://firebasestorage.googleapis.com/v0/b/kindergarten-daed8.appspot.com/o/image%2FbacgroundImg.jpg?alt=media&token=b106542f-b902-4200-a394-e8255aba22ab') + ')'">
    </div>
    <div class="header-title">
      <p class="text" [style.color]="(currkinder?.titleColor + '!important' || '#ec2F4B')">
        {{currkinder?.title}}
      </p>
      <button class="btn record" [data]="currkinder?.titleButtonColor"
        [ngStyle]="{'background-color': (currkinder?.titleButtonColor || 'green'), 'color' : (currkinder?.titleButtonTextColor || 'white')}"
        (click)="goToApply()" >Apply
        to kindergarten</button>
      <span class="arrow"></span>
    </div>
  </section>
  <section class="description-block"
    [style.flex-flow]="(windowSize < 1120 && !isOpen) || windowSize < 850 ? 'column' : 'row'">
    <img class="description-logo" [src]="currkinder?.descriptionImg" alt=""
      [style.margin-bottom]="(windowSize < 1120 && !isOpen) || windowSize < 850 ? '40px' : '0px'">
    <!-- <div class="description-logo" [style.background-image]="'url(' + currkinder?.descriptionImg + ')'"></div> -->
    <div class="description-text" [innerHTML]="currkinder?.descriptionText"
      [style.width]="(windowSize < 1120 && !isOpen) || windowSize < 850 ? '90%' : '48%'"></div>
  </section>
  <section class="group-block" *ngIf="currkinder?.kindergartenGroup">
    <div class="group-content" *ngFor="let item of currkinder?.kindergartenGroup">
      <div class="group-img"
        [style.background-image]="'url(' + (item?.groupImg || '../../../../../assets/image/nursery-group-default.jpg') + ')'">
      </div>
      <div class="group-info">
        <div class="group-name">{{item?.name}}</div>
        <div class="group-age-range">{{item?.ageRange}}</div>
        <button class="group-detail">Go to Details</button>
      </div>
    </div>
  </section>
  <div class="advantage-header" *ngIf="currkinder?.kinderAdvantages">Why {{currkinder?.title}}</div>
  <section class="advantage-block" *ngIf="currkinder?.kinderAdvantages">
    <div class="advantage-content" *ngFor="let advantage of currkinder?.kinderAdvantages; let i=index">
      <div class="advantage-title"><span [class]="advantage?.numImg ? 'numImg' : 'number'"
          [style.background-image]="'url(' + (advantage?.numImg || '') + ')'">{{advantage?.numImg ? '' : (i+1)}}</span><span
          class="title">{{advantage.title}}</span>
      </div>
      <div class="advantage-text">{{advantage.text}}</div>
    </div>
  </section>

  <section class="address-block" *ngIf="currkinder?.kinderAddresses">
    <div class="address-header">{{currkinder?.title}} addresses</div>
    <div class="address-container"
      [style.background-image]="'url(' + ( currkinder?.addressBackground || '../../../../../assets/image/addresses-background.jpg') + ')'">
      <div class="address-content" *ngFor="let kinderAddress of currkinder?.kinderAddresses">
        <span class="address-pos"
          [style.background-image]="'url(' + ( kinderAddress.addressPosImg || '../../../../../assets/image/crown.jpg') + ')'"></span>
        <span class="address-name">{{kinderAddress?.addressName}}</span>
      </div>
    </div>
  </section>

  <section class="form-block" *ngIf="currkinder?.kinderAddresses">
    <div class="form-header">Forms of stay in {{currkinder?.title}}</div>
    <div class="form-container">
      <div class="form-content" *ngFor="let form of currkinder?.kinderForm">
        <div class="form-title-info">
          <div class="form-title-type">{{form?.formTitleType}}</div>
          <div class="form-title-time">{{form?.formTitleTime}}</div>
          <div class="form-title-price">{{form?.formTitlePrice}}</div>
          <div class="form-title-additional">{{form?.formTitleAdditional}}</div>
        </div>
        <div class="form-description-block">
          <div class="form-description-content" *ngFor="let description of form?.formDescription; let j=index">
            <span [class]="description?.numImg ? 'form-pos-img' : 'form-pos-num'"
              [style.background-image]="'url(' + (description?.numImg || '') + ')'">{{description?.numImg ? '' : '❤'}}</span>
            <span class="form-name">{{description.descText}}</span>
          </div>
          <div class="form-description-button">
            <button class="ask-for-details btn">Ask for details</button>
            <button class="recort-to-kinder btn" (click)="goToApply()">Apply into group</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="child-registr-block">
    <div class="child-registr-header">Fill out the form</div>
    <form class="child-registr-form" [formGroup]="form">
      <div class="form-elem">
        <label for="">Your first name</label>
        <input type="text" [formControlName]="'firstName'"
          [style.border-bottom]="form.get('firstName').valid ? '' : '2px solid red'">
          <span *ngIf="this.form.get('firstName').getError('required')">Field should be required</span>
      </div>
      <div class="form-elem">
        <label for="">Your last name</label>
        <input type="text" [formControlName]="'lastName'"
          [style.border-bottom]="form.get('lastName').valid ? '' : '2px solid red'">
          <span *ngIf="this.form.get('lastName').getError('required')">Field should be required</span>
      </div>
      <div class="form-elem">
        <label for="">Your email</label>
        <input type="text" [formControlName]="'email'"
          [style.border-bottom]="form.get('email').valid ? '' : '2px solid red'">
          <span *ngIf="this.form.get('email').getError('required')">Field should be required</span>
      </div>
      <div class="form-elem">
        <label for="">Your child name</label>
        <input type="text" [formControlName]="'childName'"
          [style.border-bottom]="form.get('childName').valid ? '' : '2px solid red'">
          <span *ngIf="this.form.get('childName').getError('required')">Field should be required</span>
      </div>
      <div class="form-elem">
        <label for="">Your child year old</label>
        <input type="number" [formControlName]="'childYear'" min="1" max="6"
          [style.border-bottom]="form.get('childYear').valid ? '' : '2px solid red'">
          <span *ngIf="this.form.get('childYear').getError('required')">Field should be required</span>
      </div>
      <div class="form-elem">
        <label for="">Your child sex</label>
        <input type="text" [formControlName]="'childSex'"
          [style.border-bottom]="form.get('childSex').valid ? '' : '2px solid red'">
          <span *ngIf="this.form.get('childSex').getError('required')">Field should be required</span>
      </div>
      <div class="form-elem">
        <label>Choose group</label>
        <div class="form-elem-select p-l-0 p-r-5 flex wrap aic bc-white"
          (clickOutside)="onClickedOutsideItem($event, 'groupType')" (click)="openHidden('groupType')"
          [style.border-bottom]="form.get('groupType').valid ? '' : '2px solid red'">
          <div class="choose-sort p-4 m-l-5 flex nowrap jcsa aic bc-gray"
            [innerHTML]="form.get('groupType').value.name">
          </div>
          <span class="error" *ngIf="this.form.get('groupType').getError('required')">Field should be required</span>
          <span aria-hidden="true" data-icon="&#xe900;"
            [class]="!isGroupCheck ? 'icon-drop-down-arrow' : 'icon-drop-up-arrow'" class="drop-icon"></span>
          <div class="hidden bc-white" [style.display]="isGroupCheck ? 'flex' : 'none'"
            [style.transition]="'display 300ms ease-in-out'">
            <p class="p-l-10 txt-c-black font-16" *ngFor="let item of currkinder?.kindergartenGroup; let i=index;"
              (click)="groupCheckType(item, 'groupType')"
              [style.border-bottom]="i == currkinder?.kindergartenGroup.length-1 ? 'none' : ''">
              {{item?.name}}</p>
          </div>
        </div>
      </div>
      <div class="form-elem">
        <label>Choose group</label>
        <div class="form-elem-select p-l-0 p-r-5 flex wrap aic bc-white"
          (clickOutside)="onClickedOutsideItem($event, 'typeOfReg')" (click)="openHidden('typeOfReg')"
          [style.border-bottom]="form.get('typeOfReg').valid ? '' : '2px solid red'">
          <div class="choose-sort p-4 m-l-5 flex nowrap jcsa aic bc-gray"
            [innerHTML]="form.get('typeOfReg').value.formTitleType">
          </div>
          <span class="error" *ngIf="this.form.get('typeOfReg').getError('required')">Field should be required</span>
          <span aria-hidden="true" data-icon="&#xe900;"
            [class]="!isType ? 'icon-drop-down-arrow' : 'icon-drop-up-arrow'" class="drop-icon"></span>
          <div class="hidden bc-white" [style.display]="isType ? 'flex' : 'none'"
            [style.transition]="'display 300ms ease-in-out'">
            <p class="p-l-10 txt-c-black font-16" *ngFor="let item of currkinder?.kinderForm; let i=index;"
              (click)="groupCheckType(item, 'typeOfReg')"
              [style.border-bottom]="i == currkinder?.kinderForm-1 ? 'none' : ''">
              {{item?.formTitleType}}</p>
          </div>
        </div>
      </div>

    </form>
    <button class="btn send-child-registr-form" (click)="sendApply()">Send registration form</button>
  </section>

</main>
<div *ngIf="isLoading" class="loader-overlay">
  <mat-spinner></mat-spinner>
</div>
