<header class="flex jcsb aic nowrap w-100">
  <section class="left-section flex jcfs aic nowrap">
    <img class="left-section__logo m-l-15" src="../../../../assets/image/Skillcheckers-logo.png" alt="">
    <!-- <div class="left-section__search flex jcsa aic nowrap bc-gray">
      <span aria-hidden="true" data-icon="&#xe902;" class="icon-icons8-search"></span>
      <input type="search" class="input-search font-13 p-l-5 bc-gray" placeholder="Search">
    </div> -->
  </section>
  <section class="right-section flex jcfe aic nowrap">
    <!-- <button class="right-section__order bc-green flex nowrap jcc aic btn">
      <span aria-hidden="true" data-icon="&#xe901;" class="icon-iconmonstr-plus-6 btn-icon-left"></span>
      New order
    </button> -->
    <button class="right-section__notification flex nowrap aic jcc m-l-20 m-r-20">
      <span class="icon-notification"><span class="path1"></span><span class="path2"></span></span>
    </button>
    <div class="right-section__user flex nowrap jcc aic">
      <button class="right-section__user--button btn flex aic jcc nowrap" *ngIf="currUser?.icon">
        <img class="btn-icon-left" [src]="currUser?.icon" alt="">
      </button>
      <div class="user-menu m-r-15" (clickOutside)="onClickedOutsideItem($event)">
        <button class="user-menu__visible" (click)="dropMenu()">
          <span aria-hidden="true" [class]="!dropWay ? 'icon-drop-down-arrow' : 'icon-drop-up-arrow'"
            class="user-menu__visible--items-drop-down"></span>
        </button>
        <div class="user-menu__hidden flex col jcc aic" [style.height]="dropWay ? 'auto' : '0px'"
          [style.display]="dropWay ? 'flex' : 'none'" [style.transition]="'height 600ms ease-in-out'">
          <p class="user-menu__hidden--profile w-100 btn flex nowrap jcc aic " (click)="dropMenu()"> <img
              class="btn-icon-left" [src]="currUser?.icon" alt=""> Profile</p>
          <hr>
          <p (click)="signOUT()" class="user-menu__hidden--sighOut w-100 btn flex nowrap jcc aic" (click)="dropMenu()">
            <span aria-hidden="true" data-icon="&#xe900;" class="icon-logout btn-icon-left"></span> Sigh Out</p>
        </div>
      </div>



    </div>

  </section>
</header>
