/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7bac2;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7bac2;
}

.game-block {
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;

  .dino {
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 0;
    left: 50px;
    background-image: url('./assets/img/dino1.png');
    background-size: 80px 80px;
    transition: all 0.1s ease-in-out;
    background-repeat: no-repeat;

  }
  .down {
    height: 50px;
    background: position 80px 50px;
    background-image: url("./assets/img/dino-down.png");
  }
}

.cactus {
  width: 50px;
  height: 80px;
  position: absolute;
  bottom: 150px;
  left: calc(100%);
  background-image: url('./assets/img/cactus1.png');
  background-size: 50px 80px;

}

.block {
  animation: block 2s linear
}

@keyframes block {
  0% {
    left: calc(100%);
  }

  50% {
    left: calc(50% - 95px);
  }

  100% {
    left: calc(0% - 155px);
  }
}

.pterodact {
  width: 50px;
  height: 55px;
  position: absolute;
  bottom: 215px;
  left: calc(100%);
  background-image: url("./assets/img/pterodact-down1.png");

}

.ptero {
  animation: ptero 0.2s infinite linear, block 2s linear;
}


@keyframes ptero {
  0% {
    background-image: url("./assets/img/pterodact-down1.png");
  }

  100% {
    background-image: url("./assets/img/pterodact-up1.png");
  }
}

.moreCactus {
  width: 77px;
  height: 71px;
  position: absolute;
  bottom: 148px;
  left: cacl(100%);
  background-image: url("./assets/img/moreCactus1.png");
  background-size: 77px 70px;
}

.jump {
  animation: jump 0.4s linear
}



@keyframes jump {
  0% {
    bottom: 0px;
  }

  30% {
    bottom: 100px;
  }

  50% {
    bottom: 130px;
  }

  80% {
    bottom: 100px;
  }

  100% {
    bottom: 0px;
  }
}
